[hierarchy]
module

[export]
rules = "./chess_rules.lit"
chap1 = "./chapter01-position-state.lit"
chap2 = "./chapter02-move-pipeline.lit"
chap3 = "./chapter03-sliding-pieces.lit"
chap4 = "./chapter04-knight-king.lit"
chap5 = "./chapter05-ordinary-pawns.lit"
chap6 = "./chapter06-special-moves.lit"
chap7 = "./chapter07-check-and-responses.lit"
chap8 = "./chapter08-pins.lit"
chap9 = "./chapter09-discovered-double-check.lit"
chap10 = "./chapter10-mate-stalemate.lit"
chap11 = "./chapter11-material-dead-positions.lit"
chap12 = "./chapter12-draw-history.lit"
chap13 = "./chapter13-basic-mating-methods.lit"
chap14 = "./chapter14-interactive-endgames.lit"
chap15 = "./chapter15-certificate-audit.lit"
